.btn-1 {
  background-color: rgba(128, 128, 128, 0.233);
  transition: 0.5s;
  border-radius: 8px;
  border: none;
}
.btn-1:hover {
  background-color: #041c3b;
  transform: scale(1.2);
  color: #fff;
}
