.card-service {
  position: relative;
  overflow: hidden;
}
.style-card {
  transform: rotate(8deg);
}
.card-image {
  transition: 0.5s;
}
.card-service:hover .card-image {
  transform: scale(1.1);
}
