.OrderBody {
  height: 100vh;
  background-image: url(https://i.ibb.co/ZK2gcjj/26578b71057a20da5ba93d03954dc107.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.login form .textarea {
  margin: 5px auto;
  padding: 10px 15px;
  width: 95%;
  border: none;
  box-shadow: inset 1px 2px 20px rgba(0, 0, 0, 0.08);
}
